# vim: ft=yaml nospell
---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  *,
  -fuchsia-*,
  -google-readability-todo,
  -readability-magic-numbers,
  -llvm-header-guard
WarningsAsErrors: '*'
HeaderFilterRegex: 'pipelines/'
AnalyzeTemporaryDtors: false
FormatStyle: file
...
